
.container {
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.author {
    font-style: italic;
    color: #666;
}

.description {
    margin-top: 0.5rem;
}

.created {
    font-size: 0.9rem;
    color: #888;
}

.signhash {
    font-size: 0.8rem;
    color: #aaa;
    margin-bottom: 2rem;
}